[2020-03-17 09:39] LeeHanYeong opened #1 "Changed to save files in storage instead of DB using FileField instead of CharField"
Quill.js has a default setting to save the image as a base64 encoded string.
Storing the image-encoded string in the DB is not a good approach, so only the text of the Quill object should be stored in TextField or CharField, and the base64 encoded string should be stored in a separate FileField.

[2020-03-17 09:40] LeeHanYeong opened #2 "CI using GitHub Action"

[2020-03-17 09:40] LeeHanYeong opened #3 "Coverage process and badge"

[2020-03-17 09:40] LeeHanYeong opened #4 "Writing test code"

[2020-03-17 09:40] LeeHanYeong opened #5 "Import CSS and JS automatically"

[2020-03-17 10:21] #5 closed

[2020-03-19 05:45] ericel opened #6 "Should support inital value"
Have you considered adding an initial value placeholder?

With what you have now, I doubt it will work with editing pages where there's suppose to be some initial value that is to be displayed on the editor.

[2020-03-19 08:47] LeeHanYeong commented on #6
Does it mean the placeholder of the input tag?
If it means modifying `forms.ModelForm`, it works fine.
I haven't tested the `initial_data` in `forms.Form`. Did you mention this?

The example below is a normal update view function and html in action.

[code]

[code]

[2020-03-19 08:53] LeeHanYeong commented on #6
Does it mean the placeholder of the input tag?
If it means modifying `forms.ModelForm`, it works fine.
I haven't tested the `initial_data` in `forms.Form`. Did you mention this?

The example below is a update view function and html.
Thank you for your review

[code]

[code]

[2020-03-19 14:30] ericel commented on #6
I was trying to use it with a normal form(forms.Form). Probably why it wasn't working.

[2020-03-20 06:06] LeeHanYeong commented on #6
I updated the new version to apply the initial value of forms.Form
Please get the 0.1.5 version again and try again.
Also updated the relevant example code.

view: `posts.views.quill_post_normal_form_initial_view`
template: `templates/posts/quillpost_normal_form.html`
url: `/posts/normal/`

[2020-04-25 12:15] nittolese opened #7 "How can I override default settings?"
I would like to avoid my user to upload Images while using editor.
How can I override these settings in [config.py](https://github.com/LeeHanYeong/django-quill-editor/blob/master/django_quill/config.py)?

[2020-04-25 12:17] nittolese opened #8 "Is there a way to integrate word counter?"
Hi,
I was reading this post about [building custom modules with QuillJS](https://quilljs.com/blog/building-a-custom-module/) and I was wondering about how I would integrate a word counter in django-quill-editor.

Thank you!

[2020-04-28 09:19] nittolese opened #9 "TemplateDoesNotExist exception on a new project"
Hi, I tried to install django-quill-editor via pip in a new project but I keep seeing this in admin when I try to add a new `QuillPost`

![image](https://user-images.githubusercontent.com/25707285/80470260-0a303600-8942-11ea-9722-538fcc79d038.png)

[2020-04-29 03:54] LeeHanYeong commented on #9
Did you add 'django_quill' to INSTALLED_APPS?

[code]

[2020-04-29 03:56] LeeHanYeong commented on #7
I haven't made it yet, but I'll work on the next feature.
Thank you for reporting the issue :)

[2020-04-29 03:57] LeeHanYeong commented on #8
After resolving issue #7, I will implement a function to insert custom JS.

[2020-04-29 07:31] nittolese commented on #9
Yup, I've added both 'django_quill' and an example app to INSTALLED_APPS, but I keep getting that error.

[2020-05-08 11:10] skilaren commented on #9
It seems that there is no templates files loaded within ` pip install ` for some reason

[2020-05-08 18:34] skilaren commented on #9
You can fix it by placing **templates** folder from repository to the folder specified in your project settings in DIRS in TEMPLATES and set the `FORM_RENDERER = 'django.forms.renderers.TemplatesSetting'`

[2020-06-09 11:50] LeeHanYeong commented on #9
@skilaren Thanks for the advice
@nittolese
Fixed a bug where static files were not included in the distribution package.
If you upgrade to version 0.10.0, it works normally.
`pip install django-quill-editor --upgrade`

[2020-06-09 11:50] #9 closed

[2020-06-09 11:50] #6 closed

[2020-06-14 06:01] LeeHanYeong opened #11 "When using textfield, adjust image's maximum size and quality"

[2020-06-18 17:12] kandrokae commented on #7
Hitting the same issue, any solution/update coming up?

[2020-06-28 03:30] ericel opened #12 "How do you suppose displaying the content on an html template"
The editor works well, but displaying Quill content is kinda....
for and instance **object.content** will display something of this sort:
`<django_quill.fields.FieldQuill object at 0x7ff51c405190>
`
What are the suggestions here?

[2020-06-28 03:38] ericel commented on #12
Should in case someone else comes across this, the django_quill object contains the attribute 'html'
You could use that to display the content of the editor.
`object.content.html`

That's what I am doing for now.

[2020-06-29 13:58] #12 closed

[2020-06-29 14:00] ericel opened #13 "Raises QuillParseError(json_string) when using api for model with quill"
The editor raises a QuillParseError, when posting from an api.
Understandable as api is sending a string not a quill json object.

What will be the way to implement this on django site to convert string to quill json object.

[2020-06-29 14:00] LeeHanYeong commented on #12
I forgot to write in the document. thank you for telling me.

[2020-06-29 14:06] LeeHanYeong commented on #13
What is the API sending?
Please tell me the data you are sending.
django-quill-editor internally edits and sends the data of Quill.js. You can check this in `django_quill/static/django_quill/django_quill.js`

[code]
The data object of Quill.js, Delta, and the expression html code are combined and transmitted.

-------------
How to send the contents of Quill.js to the API in a separate front end is

[2020-06-29 14:22] ericel commented on #13
Yes I am using DRF.
I am trying to send data using Postman.

[2020-06-29 14:30] LeeHanYeong commented on #13
I haven't tested it yet, but if you use a form made with django-quill-editor, there is a way to do it.
If the field name is `content`, there is a hidden type input called `quill-input-id_content`.
When the value of the corresponding input is sent to the API, the same data as when using the submit function of the form is transmitted.

<img width="615" alt="sdf" src="https://user-images.githubuserco

[2020-06-29 14:41] ericel commented on #13
I am not using any WYSIWYG with the api. Just normal text input field. This means the data submitted will just be a normal string value.

However, quillfield in app model, is expecting a json string.
`content = QuillField()`
I can't really think of any better way to implement it at the moment.

I will think, the best way to go is not to force every input to be a json_string?.

Or how about, if exc

[2020-07-03 09:38] parthjpandya opened #14 "'str' object has no attribute '_committed'"
Hi, I am getting below error while using a quill editor with Django.

**if quill and not quill._committed:
    'str' object has no attribute '_committed'**

Is there any specific Django version to use?

I am using
Django==2.1.7
python 3.7.5
django-quill-editor==0.1.12

[2020-07-08 20:23] michaldyczko opened #15 "Dumpdata causes bad fixture format"
Fixture created by `python manage.py dumpdata` causes error, because QuillField is badly serialized. It can be solved by adding:

[code]

to QuillField.

[2020-07-08 20:26] michaldyczko opened #16 "QuillField parse error if null"
If QuillField is not populated, it causes JSONParse error. It can be field by overriding `FieldQuill.__init__` with:
[code]
After that, QuillField blank and null arguments can be set to True.

[2020-07-08 20:41] michaldyczko opened #17 "Newly genereted QuillField forms are saved as blank."
It can be reproduced like that:
[code]

After that in A admin page newly generated quill editors added to DOM doesn't have all events attached that are required to populate input value attribute underneath. It is probably caused because some `addEventListener's` are set in a wrong way, so new DOM elements are not listening for these events. It is hard for me to fix that, so if anyone know how to d

[2020-07-09 10:15] michaldyczko opened #18 "Django admin validation error causes content damage"
If validation error occurs after filling quills and submitting in admin panel, then happens what can be seen below:

![image](https://user-images.githubusercontent.com/48859012/87027678-d09b6700-c1dd-11ea-9b74-ad758f764527.png)

[2020-07-27 17:25] ajayspicy07 commented on #12
Object.content.html is showing
html script..
What should we use to show as WYSIWYT format??

[2020-07-27 17:29] ajayspicy07 commented on #11
Can we drop the image that we uploaded??
And reduce the size...??

[2020-07-28 13:03] ajayspicy07 commented on #12
{ objects.content.html|safe }

[2020-07-29 05:58] LeeHanYeong commented on #16
Thanks for the error report. Would you please send a PR if you have time?
If you aren't familiar with PR, I'll update the new commit I mentioned you.

[2020-07-31 14:48] michaldyczko commented on #18
Ok, I've found a solution. I will make a PR in a free time.

[2020-07-31 14:48] michaldyczko commented on #16
Hi Lee, I will make a PR in a free time :)

[2020-07-31 14:51] michaldyczko commented on #17
Can you please take a look at that? It seems to be easy to fix, just need to replace events with delegated events. Possibly not hard for you but way too complicated for me to fix that in your code.

[2020-08-01 12:03] faaizajaz commented on #13
Any solution to this? I am trying to create an object with a Quill field on POST to a DRF endpoint.

POST data is in Quill's weird format which cannot be parsed in Django APIView. But if I try to create a Quill object in my APIView, I get the QuillParseError.

There should be a way to populate a QuillField using a string. It is not clear to me if even the base QuillJS library provides a way to pos

[2020-08-01 12:29] faaizajaz opened #21 "POSTing form data breaks html inline styles"
POSTing Quill form data to DRF APIView breaks the html by adding `\` characters such that the html does not work.

For example:

`<p><span class=\"ql-font-monospace\">Seeing if this helps.</span></p>`

This can be seen in the console as well:

![Screenshot from 2020-08-01 17-27-26](https://user-images.githubusercontent.com/8207214/89101757-65c7ff00-d41c-11ea-994c-73c5a111d288.png)

[2020-08-03 15:53] LeeHanYeong commented on #21
This project did not consider DRF, but you can write separate javascript code and convert it to the data format sent by DRF.
I'm still working on resolving this issue.

[2020-08-03 15:54] LeeHanYeong commented on #15
Merged c6b287739bbbf34105ceaf797e6fd1538082f0d4

[2020-08-03 15:54] #15 closed

[2020-08-03 15:54] LeeHanYeong commented on #16
Merged c6b287739bbbf34105ceaf797e6fd1538082f0d4

[2020-08-03 15:54] #16 closed

[2020-08-03 15:56] LeeHanYeong commented on #7
@nittolese @kandrokae
See this [section](https://github.com/LeeHanYeong/django-quill-editor#change-toolbar-menus) of the article.

[2020-08-03 15:56] #7 closed

[2020-08-03 15:58] LeeHanYeong commented on #11
Unfortunately, Quill.js does not provide that functionality.

[2020-08-03 16:32] kandrokae commented on #7
thank you!

Le lun. 3 août 2020 à 11:56, 이한영 <notifications@github.com> a écrit :

[2020-08-05 16:34] gabrielloliveira commented on #4
Hey @LeeHanYeong 😄

I really liked this package. It's awesome.

But I am facing a problem to set up my tests. I looked in the documentation and in the code for something I can use as a base to write them, but I didn't find it.

Do you have an example to guide me?

I'm currently trying something like this:

[code]

The same error happens if I am checking that the form is valid.

[2020-08-11 19:42] Pierox57 opened #22 "Eror 404 when trying to download static files in admin interface"
I've followed the documentation to set-up the QuillField and display it in the admin interface. The problem is that some static files aren't downloaded because they have been remove from the static folder but still called in widget.py (class Media):

[code]

Here is what I see in my command line :

[code]

[2020-08-13 11:59] #22 closed

[2020-08-29 01:20] Kirkmania commented on #14
I'm also experiencing this issue. It occurs when I call `form.save() ` after a` POST` request in my view. No idea what to do with this.

[2020-09-03 02:48] a35205905 opened #24 "How to manually create objects in the code"
Sorry, my English is not very good,
But I really like this package and actually used it in the project.

I defined a model.
[code]
I want to create it manually in the code, like this.
[code]
The result of the operation shows an error,
How can I set the correct value in content?

Thank you.

[2020-09-11 15:59] cdesch commented on #24
I was also looking for a way to do this. I need to migrate data that is already formatted into the quill format from an excel file. Did you find a way to manually create the objects and save in quill json format?

[2020-10-01 22:30] rosalesnikho opened #25 "Unpacking the form fields?"
Instead of using
[code]
What's the recommended method of creating custom inputs? Example below.

[code]

[2020-10-09 12:07] raybesiga commented on #14
Were you able to resolve this issue? @parthjpandya @Kirkmania

[2020-10-09 23:17] brian101co commented on #25
Check out this tutorial from Simpleisbetterthancomplex. I think it is what you are looking for.

https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html

[2020-10-11 18:02] rosalesnikho commented on #25
@brian101co - thank you. That's a really good write-up actually. It does answer my question perfectly.

[2020-10-15 19:46] #25 closed

[2020-11-02 07:35] 3n-k1 commented on #24
`django_quill.quill.Quill` is the underlying method. the constructor takes a `json_string` argument, so this:

[code]

will give you what you're looking for

[2020-11-03 11:31] void-witch opened #26 "[feature] make QuillField inherit JSONField"
since QuillField stores text in the database directly as json-encoded text, it would be better to store it as a [JSONField](https://docs.djangoproject.com/en/3.1/ref/models/fields/#django.db.models.JSONField). every major db backend supports the JSONField, so switching will not only be more idiomatic, but will also inform the db backend to apply any optimizations to speed up queries

~~i think the

[2020-11-03 12:12] 3n-k1 commented on #26
i ended up finding it shortly after writing this

[2020-11-09 09:49] erwingd commented on #14
I'm facing the same issue using django-admin version 3.1.3, and Python 3.5.3

[2020-11-11 08:00] erwingd commented on #14
Hi raybesiga,

Thanks for your answer, but I'm facing this issue in django admin, unfortunately this didn't help...

Thanks a lot for your help,

Erwin.

[2020-11-22 23:13] brian101co opened #28 "QuillParseError: Failed to parse value(random string). Django Admin"
Hello,

I am trying to integrate the QuillField() into the Django admin. However, when I change the model from textField to QuillField(), I get a QuillParseError whenever I try to edit existing objects in the Django admin.

How would you resolve this error?

[2020-12-01 21:16] #28 closed

[2020-12-01 21:16] brian101co commented on #28
Figured out the issue. Needed to do a data migration.

[2020-12-18 01:31] rafaponieman opened #29 "Select config on QuillField"
I couldn't find a way to specify the config_name directly on the field. I figure I can do it through specifying a custom form, though I didn't try it because I don't have enough time at this very moment. I think it would be great to be able to pass a config_name directly on QuillField.

Thank you!!

[2020-12-18 01:47] rafaponieman opened #30 "Field not saved on Inlines"
It seems like the editor works on inlines, but the value doesn't get saved the first time I try. When trying to save, the page reloads displaying required field errors (my QuillFields are required in this case), and the content is lost. If I fill in the fields once more, and save again it does get saved properly.

Thank you!!

[2020-12-21 08:33] gdudhatraTBH commented on #28
what kind of migration applied?
Can please explain with a short example?

[2020-12-27 22:16] AlexElizard opened #31 "The display of the form does not actually match the display in the documentation."
The display of the form does not actually match the display in the documentation. Is that how it should be?
I have:
* Python 3.9.1
* Django 3.1.4

![image](https://user-images.githubusercontent.com/52967658/103180761-aac96200-48e4-11eb-81a8-c7e943a4903b.png)

[2021-01-08 23:26] michaldyczko commented on #30
Hey, try using my forked repo (available under [https://github.com/michaldyczko/django-quill-editor](https://github.com/michaldyczko/django-quill-editor)). I fixed that and use it on my projects. It seems to be working :)

[2021-01-09 14:01] rafaponieman commented on #30
Thank you @michaldyczko! I ended up not using Quill on inlines in the end, but if I do I'll try it and let you know if the fix worked.

[2021-01-13 17:24] brian101co commented on #28
I wrote about here: [Data Migrations with Django](https://engineertodeveloper.com/django-data-migrations/)

[2021-01-15 08:49] JulianFeinauer opened #32 "Embedded Images should be stored separately as files not ony embedded in the DB"
Is this something that is planned to support?

[2021-02-02 18:01] XtremeGood opened #33 "Docs didn't say to include the tag in the form."
I was looking at the docs but I thing it's missed to be told that  ` {% include 'django_quill/media.html' %}` is to be included. I wasted lot of time on this.

[2021-02-06 16:48] cdesch commented on #33
It says it here in the [readme.md in 2. Form](https://github.com/LeeHanYeong/django-quill-editor/blob/master/README.md#2-form), but it could be added to [docs form page](https://django-quill-editor.readthedocs.io/en/latest/pages/using-as-form.html)

[2021-02-06 16:55] cdesch commented on #33
I added a fix for the docs in [PR#34](https://github.com/LeeHanYeong/django-quill-editor/pull/34). @LeeHanYeong will need to update or republish the docs https://django-quill-editor.readthedocs.io/

[2021-02-06 16:59] XtremeGood commented on #33
Also can you attach functionality for file upload? I know it doesn't exist in quill js but more of less one can just insert additional handler and a font-awesome file upload icon.

[2021-02-06 17:10] cdesch commented on #33
That is a little outside of my domain and not something quill supports. If you want to add it as a feature of this library in addition to quill, I encourage you to make a PR to add it.

[2021-02-06 17:29] XtremeGood commented on #33
@cdesch  ok , I will try as soon as I get some free time .

[2021-02-09 08:03] #26 closed

[2021-02-09 08:10] LeeHanYeong commented on #33
@cdesch @XtremeGood
Thank you for adding content to the document. This content has been updated to version 0.1.18.

[2021-02-09 08:10] #33 closed

[2021-02-09 08:14] LeeHanYeong commented on #32
That's a long-term plan for the 1.0 release. 😅
 I know storing images in a DB is a bad design, but in this project, beginners using Django focused more on making the output easier.

[2021-02-09 08:15] LeeHanYeong commented on #29
Good idea. I have been very busy lately so I couldn't care about the project. I'll make that feature within this month. Thank you

[2021-02-10 05:37] lucaswatterson opened #38 "AttributeError 'NoneType' object has no attribute 'json_string'"
Initialized a new project this evening and installed django-quill-editor as per usual.  When I open the associated CreateView template, I get...

![issue](https://user-images.githubusercontent.com/1297951/107469195-e9327d80-6b2e-11eb-9db4-9e76a4af0270.PNG)

Funny thing is, the quill editor loads correctly in the UpdateView template.  The following text is strangely already in the editor...

![issu

[2021-02-10 17:03] cobang commented on #13
@ericel @faaizajaz @LeeHanYeong
You can use this kind of helper function for plain text inputs.

[code]

[2021-02-10 17:16] cobang commented on #18
@michaldyczko Can you please share the problem (which part of the code causes this problem) and your solution?

[2021-02-10 17:20] cobang commented on #24
I guess, the issue is resolved.

[2021-02-10 17:46] cobang commented on #14
Overriding/updating `prepare_value` method of the field may solve this issue.

[code]
[code]

This [PR](https://github.com/LeeHanYeong/django-quill-editor/pull/36/files#diff-87bd3c780a42f4d918c6d6aa8c3cc14a0c53d29a185aa10a846ae7b9cf6ae224R20-R21) may fix this.

[2021-02-13 10:33] afd57 commented on #38
Hello, I faced same error message. I downgraded to 0.1.16 version. It works well.

[code]

[2021-02-13 19:59] lucaswatterson commented on #38
@afd57 Thanks, I came to that solution as well.  I'll leave this open for @LeeHanYeong to see.

I was able to remove the .json in forms.py to get the most recent version working, but obviously that may have unintended consequences.  Thanks again.

[2021-02-14 13:02] afd57 commented on #38
I got you. :) You are welcome.

[2021-02-16 14:10] JulianFeinauer commented on #32
I solved this in a project by extracting them from the content and storing them as Django Files AFTER the upload. I can share code (or try to prepare a PR) if you like?

[2021-02-17 15:09] cdesch commented on #38
@void-witch Can you take a look at this? I'm hitting the same error with version `0.1.19` on it appears to be this [line](https://github.com/LeeHanYeong/django-quill-editor/blob/f867a96d0b0f5a2554f000b5eb81637152184823/django_quill/forms.py#L17) on [this commit](https://github.com/LeeHanYeong/django-quill-editor/commit/a362dcad435649fe883702532d93df19b0ba020b)

I think this issue may be related to

[2021-02-17 17:35] void-witch commented on #38
yup, this was an issue i missed, my bad. you have two ways to fix this:

1) change [line 17 of forms.py](https://github.com/LeeHanYeong/django-quill-editor/blob/master/django_quill/forms.py#L17) to be something like `return value.json_string if value else None`

2) install the json-field branch from [@cobang's fork](https://github.com/LeeHanYeong/django-quill-editor/pull/36)

i recommend option 2,

[2021-02-17 22:31] cdesch commented on #38
that fork in [PR#35](https://github.com/LeeHanYeong/django-quill-editor/pull/35) was pulled into the master but the PR is still open. Can you make a new PR to fix the line?

@LeeHanYeong can you close the PR requests?

[2021-02-19 21:36] cdesch commented on #38
@void-witch any luck?

[2021-02-20 02:10] Rdyx opened #39 "Static Files VS CDN"
Hello!

First of all, thanks for your django plugin, nice work! 👍

So, now is my question, I'm trying to optimise files/request for my django app (minifying, tracking unused static code etc...) and I noticed your plugin is using CDNs for darcula, highlight & quill but not for django_quill (which is under "Custom").

Since the minified files are in the plugin's folder, why would you use CDN? Any re

[2021-02-20 02:21] void-witch commented on #38
@cdesch nothing i can do on my end. you can either edit the file, or point your dependencies to the fork

[2021-02-24 19:06] cdesch commented on #38
I made the change and I'll submit a [PR#41](https://github.com/LeeHanYeong/django-quill-editor/pull/41)

The [JSONField was introduced in Django 3.1](https://docs.djangoproject.com/en/3.1/releases/3.1/#jsonfield-for-all-supported-database-backends) and makes this addition a breaking change for Django project versions < 3.1.x

[2021-03-01 19:44] cdesch commented on #38
@lucaswatterson This issue can be resolved and closed with the recent release of `0.1.21`.

[2021-03-02 00:28] lucaswatterson commented on #38
Thank you!

[2021-03-02 20:01] cdesch commented on #38
@lucaswatterson You're welcome. Please close the issue.

[2021-03-02 22:27] #38 closed

[2021-03-11 03:48] mohammadmaso commented on #32
Could you share your code in a repo? I need it.

[2021-03-23 18:36] vishalpandeyvip opened #42 "arguements in Quillfield"
Can you please help me adding arguments such as min_length, max_length, required extra in QuillField.

[2021-03-24 17:32] divisia commented on #42
I think it inherits `models.TextField()` so you can refer to Django's documentation about that.

[2021-03-24 17:40] divisia opened #43 "I get QuillParseError while migrating from models.TextField"
Hey. I recently switched to this module, but it gives me QuillParseError because my texts are not within HTML tags. I don't think it should raise an exception in this situation but instead parse it as plain text. Could you implement such thing?
Thanks in advance.

[2021-04-03 12:08] #42 closed

[2021-04-06 18:11] djpeacher opened #44 "Migrating HTML"
When I change an existing field type to `QuillField` it fails because it is expecting its value to be in the delta/html format `{"delta": "...", "html": "..."}`, but my current data is just raw HTML. Does anyone have any tips on how to migrate this data?

[2021-04-07 19:56] hert22 opened #45 "Quill Image Resize not working in QuillForm QUILL_CONFIGS"
Hey, so I need to be able to adjust the size of images in the quill editor. I can successfully achieve this by having the following code in a script tag in my HTML and then calling it...

`<script>
var quill = new Quill('#editor', {
     modules: {
        **imageResize: {
        },**
     toolbar: [
         [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
         ['bold', 'italic', 'underline', 'str

[2021-04-07 19:57] hert22 commented on #45
The QUILL_CONFIG should be formatted like this...

QUILL_CONFIGS = {
    'default': {
        'theme': 'snow',
        'modules': {
            #'syntax': True,
            'imageResize': True,
            'toolbar': [
                [
                    {'font': []},
                    {'header': []},
                    {'align': []},
                    'bold', 'italic', 'underline', 'strike

[2021-04-08 01:48] hert22 commented on #44
This documentation has been helping me a lot with QuillField and Quill in databases. [https://django-quill-editor.readthedocs.io/en/latest/index.html](url)

[2021-04-19 14:38] djpeacher commented on #44
Thanks, but the documentation doesn't seem to have anything related to migrating existing data.

[2021-05-02 04:20] joepreludian commented on #30
@rafaponieman @michaldyczko and @LeeHanYeong There is a PR that I created that aims to solve this issue; https://github.com/LeeHanYeong/django-quill-editor/pull/48

Thanks!

[2021-05-02 04:23] joepreludian opened #49 "Develop a CI pipeline for this project"
Hello @LeeHanYeong. I was looking at your library and I trully liked it! Wouldn't be nice if you have a CI pipeline to it? If you want, I can develop one using the free "github actions", so we would be able to test and validate PRs with more ease. Thoughts?

Thank you for this awesome library!

[2021-05-06 14:50] yb0608 opened #50 "Not Showing Quill In Templates"
I followed the steps provided, but nothing showed up on my template HTML. Wondering what was wrong?

[2021-05-07 14:17] brunocpradom opened #51 "QuillField not showing in django admin"
I'm working with Django 3.1.8
models.py
[code]
admin.py
[code]
I made the migrations , migrate, all the proccess.
The label content appear in the admin but has no field to write....

[2021-05-09 05:20] johnalbert-dot-py opened #52 "Quill Editor is not working when using VueJS"
It shows the editor but the value didn't get or change when submitting.  Here is the error that shown by the VueJS on console

![image](https://user-images.githubusercontent.com/67201700/117561427-57082a00-b0c9-11eb-9939-eca4938685b0.png)

[2021-05-20 06:07] LeeHanYeong commented on #51
Quill.js does not work in IE. Which browser are you using?

[2021-05-20 10:13] brunocpradom commented on #51
Chrome

[2021-06-03 09:14] #51 closed

[2021-06-10 16:01] MurphyAdam opened #54 "Django-quill serializer"
I am using django-quill-editor on the admin panel to populate a content field that I have as a TextField before, which was serialized by default, but QuillField would not be serialized, so I was wondering I was trying to create a serializer for it, but honestly don't know where to start from, any suggestions please?

[2021-06-10 23:06] tetrahed commented on #50
I have the same problem- I just get a `<django_quill.fields.FieldQuill object at 0x10ed95970>` inside the textfield

[2021-06-25 11:17] depeshpo commented on #50
Please go through this link, https://django-quill-editor.readthedocs.io/en/latest/pages/using-as-form.html

[2021-06-25 20:19] adammakowskidev commented on #50
try adding |safe
example
`<p>{{ movie.content|safe }}</p>`

[2021-06-26 16:05] depeshpo commented on #50
the same scenario, in my case {{ movie.content.html | safe }} worked.

[2021-07-02 04:56] kali-kb commented on #50
Not working

[2021-07-02 04:58] kali-kb commented on #50
Works but not formatting in a way it is supposed to.

[2021-07-18 14:13] inlinesoftware commented on #54
I am with the same problema, do you find a resolution?

[2021-07-18 14:19] MurphyAdam commented on #54
@inlinesoftware unfortunately not, I had to move on quickly as I didn't have much time.

[2021-07-23 09:58] Mecil9 opened #56 "How to import custom css style for the html's file of quill?"
i wanna reject custom css file for the render quill html content.
How to do fix it ? thx

[2021-07-31 06:30] frame318 opened #57 "How do I adjust height and width?"
How do I adjust height and width?

[2021-08-09 09:38] sridhar562345 opened #58 "Make Quill field do YAML syntax highlighting"

[2021-09-01 00:07] sxwild commented on #31
Yes, I have the same issue. I have the same issue, some Quill Fields show as per the documentation and some as shown above. This happens even in the same form. The way it looks as documented is much neater.

[2021-09-01 15:36] matiszz opened #60 "Parse HTML to Delta"
How can I convert an HTML string to `delta`?

I'm using Quill together with [Django Import-Export](https://django-import-export.readthedocs.io/en/latest/index.html). The CSV input file contains an HTML string, that I want to save as my `QuillField` attribute of a model.

I'm using a custom function to get te `Quill` object, but I'm missing how to get the `delta` without having to implement the who

[2021-09-02 09:24] cucu-o0 commented on #60
I have the same problem

[2021-09-02 09:25] APPIAHTECH commented on #60
I have the same problem

[2021-09-04 08:30] Ddollz opened #61 "import django_quill.forms could not resolve"
I added django_quill to my system.py but when i importing in my form it say's "import django_quill.forms could not resolve"

[2021-09-25 05:31] TareqMonwer opened #64 "Mention Django version support in README & Docs"
Hi!
Thank you for your effort for managing this package. I came across this yesterday and I found django-quill0editor is not working in Django 3.2 (to be specific, in template files, {{ obj.content.html|safe }} doesn't work, it throws some parsing error.) and I didn't even notice that support for Django 3.2 is not mentioned anywhere.

Is it possible to upgrade the package or at-least mention djang

[2021-12-06 20:55] mlalyko opened #65 "Doesn't work after last update"
Hey, after last update, I can't add new data in admin panel. In some cases, I can't see the quill field, and in another cases, text from form doesn't save and assert alert.

I tried to downgrade to 0.1.22 and always have been okay.

[2021-12-07 05:48] LeeHanYeong commented on #65
There was an error in admin not loading static files.
It was fixed in 0.1.25.
Thanks for the report :)

[2021-12-07 08:33] #65 closed

[2021-12-07 08:40] LeeHanYeong commented on #60
Thank you for using this library :)
Converting HTML to delta is handled by the Quill.js library, not this Python library.
(If Django passes an HTML string to the JS library through a template, the HTML is converted to delta during the initialization process of Quill.js and loaded in the browser's memory.)

It would be great if the behavior of Quill.js could be implemented within Python, but I have

[2021-12-07 08:57] LeeHanYeong commented on #64
Hello. This library is being developed based on Django 3.2 :)
Let us know what error you're getting and we'll review it.
*If a model previously used as TextField or CharField is migrated to QuillField, it may not work properly.

[2021-12-07 08:58] LeeHanYeong commented on #61
Try it instead with
```from django_quill import forms```

[2021-12-07 08:59] LeeHanYeong commented on #54
I know that the migration function of the existing TextField model is needed, but I haven't implemented it yet.
When a feature is added, we will let you know in the comments :)

[2021-12-10 12:08] SaadatAliKlasra opened #66 "Not working for Django 4.0"
I've just tested it and it's not working for Django 4.0

[2021-12-10 15:14] Vidski commented on #66
https://github.com/LeeHanYeong/django-quill-editor/pull/67

[2021-12-30 06:22] LeeHanYeong commented on #44
A migration command has been added to the already used CharField or TextField.
[code]

https://django-quill-editor.readthedocs.io/en/latest/pages/migrating-to-quillfield.html

[2021-12-30 06:23] #66 closed

[2021-12-30 06:23] #64 closed

[2021-12-30 06:25] LeeHanYeong commented on #54
@MurphyAdam @inlinesoftware
A migration command has been added to the already used CharField or TextField.
[code]
https://django-quill-editor.readthedocs.io/en/latest/pages/migrating-to-quillfield.html

[2021-12-30 13:31] Junwoo-Seo-1998 opened #69 "way to create quill field manually"
hi since i want to test my code however, it seems i cannot just directly give strings to it when i create object with that field.

[2021-12-31 00:57] #44 closed

[2022-01-02 06:51] zzm88 opened #70 "uncaught (in promise) typeerror: cannot read properties of undefined (reading 'includes')"
django-quill-editor version 0.1.33
django version 3.2.8
python 3.7

this error happens when I try to insert a image.
it fixs when I go back to 0.1.10

[2022-01-06 20:32] aritztg commented on #31
I have the same issue. I was expected the editor in the right column, not aligned to the left as @sxwild shows in the capture. Does anyone the reason for this?

[2022-02-02 16:14] yeole-rohan commented on #50
Does anyone getting _Uncaught ReferenceError: QuillWrapper is not defined_ this error on browser. followed same steps. Quill is working at admin site but not on user side.

[2022-03-08 20:41] tigrettin commented on #51
Having the same issue here.

It all works fine on my local computer, but when in production, QuillFileds are invisible on admin panel – only labels appear.

When inspecting the admin page on Chrome, I see such errors on the console:

[code]

Somehow, **django_quill.css** and **django_quill.js** don't get loaded. I can't figure out why it works on my local project which has exactly the same setup,

[2022-03-09 10:22] tigrettin opened #77 "QuillField not showing in django admin"
I know this has been asked before #51, but the owner closed the issue without providing any feedback.

Quill editor v0.1.40 works fine on my local computer, but when in production, QuillFileds are invisible on admin panel – only labels appear:

<img src="https://i.ibb.co/vmM3gpG/Screen-Shot-2022-03-09-at-1-15-26-PM.png" alt="Screen-Shot-2022-03-09-at-1-15-26-PM" border="0">

When inspecting the ad

[2022-03-17 21:34] aabs7 opened #78 "Image responsive size issue"
When I decrease the size of the viewport, the image doesn't shrink. How can I solve this problem?

The viewport with content and image looks something like this:
![solve](https://user-images.githubusercontent.com/25321415/158898643-07442f03-189c-4b8c-ab93-4889b9714c1d.png)

[2022-04-02 20:59] Kasperror commented on #77
Did you run collectstatic using production settings (in contrast to development) in production? This seems like a common problem not really related to this package - confirm the needed files are indeed in the served directory if not move them there

[2022-04-03 01:52] tigrettin commented on #77
Thank you for the reply, though I already did collectstatic.

[2022-04-03 01:57] Kasperror commented on #77
do you use multiple settings files like prod_settings.py and dev_settings.py? This could be a problem due to different STATIC_ROOTs  - thats why I asked abut production settings specifically. There also might be a problem with with your server configuration or STATIC_ROOT - both ways the problem doesn't lay in the package thus the issue should be closed I think

[2022-04-05 11:57] tigrettin commented on #77
Hello again, you are right. On my dev settings, static configuration was as follows:

[code]

Whereas on production:

[code]

Which was a mistake, of course. STATICFILES_DIRS shouldn't be present on production. So I changed it to:

[code]

and ran _collectstatic_. Now it works fine.

Thank you Kasperror!

[2022-04-05 11:57] #77 closed

[2022-04-08 13:36] FeezyHendrix opened #80 "TypeError: __str__ returned non-string (type FieldQuill)"
I get this error while migrating
TypeError: __str__ returned non-string (type FieldQuill)

[2022-04-11 22:39] Hiradoras opened #81 "I can't get content of the object, but get this: <django_quill.fields.FieldQuill object at 0x000001A88692ACE0>"
I'm trying to access my Post model's content, which is QuillField().
in views.py I have:
post_words = post.content
But content's type is QuillField, so I get this <django_quill.fields.FieldQuill object at 0x000001958CAD5C30>
Is there any way to convert this to plain text in views, so I can count how many words in post?

[2022-04-16 10:34] shahriar350 commented on #81
me also fetch this type of problem

[2022-04-27 18:12] ktunprasert commented on #81
I had the same problem so I dug through the code and it seems you can serialize it by calling the property `html` and `plain` (there's also `delta` but I'm not sure what it does). See their code at `django_quill.fields` class `FieldQuill`.

Here's my working DRF serializer
[code]

[2022-05-11 11:10] MKiti03 opened #83 "Probleme while adding QuillField to an existing Django field"
The error is shone in the image attached
in fact I have a model like this:
`from django.db import models
from account.models import User
from django.utils.translation import gettext_lazy as _
from django_quill.fields import QuillField
class Problematic(models.Model):
    added_by = models.ForeignKey(User, on_delete=models.CASCADE, blank=True, null=True)
    name = models.CharField(_('Problematic L

[2022-05-15 16:45] DiegoPiloni commented on #78
I'm having the same issue

[2022-05-21 15:55] aabs7 commented on #78
@DiegoPiloni I could not solve it.

[2022-05-29 14:23] ihexen opened #84 "Can i change config?"
My config name in QUILL_CONFIGS as 'comments'. How can i set this config with template tag or in forms.py?

[2022-06-02 13:37] medram opened #85 "How do I adjust height and width?"
Please help, How do I adjust height and width?

[2022-06-19 19:26] n4ff4h opened #88 "Quill data as html not displaying correctly"
![SCR-20220620-jd](https://user-images.githubusercontent.com/52469245/174497218-63bb70a5-f07a-4afe-a5ed-ee95ded21acd.png)
![SCR-20220620-jo](https://user-images.githubusercontent.com/52469245/174497224-e5e16113-c3f9-4f3f-963c-0b7844507bec.png)

Note: That is an H1

I read somewhere that i have to manually apply css or.. am i doing something wrong. I am using tailwind btw

Things like alignment als

[2022-06-20 04:11] n4ff4h commented on #88
It seems it tailwind that was removing default font size for headings

[2022-06-20 04:13] #88 closed

[2022-06-29 12:03] gfunch opened #89 "Adding a plugin"
Hi,
This is a great project and it has been very useful in an application I am developing.

I am interested in incorporating a Quill plugin (quill-comment: https://www.npmjs.com/package/quill-comment).

Can you please provide some guidance on how this can be done and accessed through django-quill?

Thank you!

[2022-07-01 08:47] zankoAn commented on #85
With the `.vLargeTextField` tag in CSS, you can specify width and height.

### Example:

[code]

[2022-07-01 15:03] #89 closed

[2022-07-01 15:03] gfunch commented on #89
I found a solution.

[2022-07-05 09:38] almandin opened #90 "django_quill.js registers modules even if they are not configured."
Hi,
I'm using quill_django_editor with a specifc configuration in my settings.py :
[code]
As you can see I don't use the compressor module and I **dont** want to use it as I use the generated html to generate PNG files from the embedded images (and the compressor compresses them in jpeg).
Anyway, when the imageCompressor module is not loaded in the configuration, django_quill ends up failing to lo

[2022-07-05 14:41] justKoder commented on #83
There is a command
`python manage.py convert_to_quill`  is not working as it is returning   `Unknown command: 'convert_to_quill'`

[2022-10-10 07:18] theinvestigamer commented on #89
What was the solution?

[2022-10-10 07:22] theinvestigamer opened #95 "How do I call the quill object API?"
Hi I have django-quill working perfectly, I'm just wondering how I can run quill methods from javascript? Is the quill object created for my field named something specific that I can use to call things like `quill.getSelection()` or `quill.insertText()`? I've tried quill, Quill, wrapper, wrapper.quill...

[2022-10-10 07:46] theinvestigamer commented on #95
Update, I did a little test myself. Before quill media is imported I created a dictionary called "quills", then in the django-quill widget template I added wrapper to the dictionary with its ID as the key. This allows me to call API methods from "quills[quill_id].quill". If anyone has a more elegant method for making the object accessible, would love to see a PR for this feature.

[2022-10-11 00:53] marytaylor opened #97 "Is there a way to post iframes within Django template with Quill?"
## Problem:
When trying to display iframe from Quill onto webpage, it only displays the html and not the actual iframe

## Context:
 I am using Quill in my admin backend so that I can easily let an admin user add text and links onto a webpage.

 Here is what the backend quill form looks like
<img width="657" alt="Screen Shot 2022-10-10 at 8 44 01 PM" src="https://user-images.githubusercontent.com/

[2022-10-15 05:00] Enzodtz opened #98 "Integrate with Django Rest Framework"
Hey!

I was trying to use the editor with DRF, but when DRF serializes the field, it just calls str method, which returns that default python str for classes. If we instead return the delta, it will be possible to integrate with the serializer just fine.

I will open a PR to do so.

[2022-10-15 05:02] Enzodtz commented on #98
PR Opened: #99

[2022-10-20 17:00] pedromsilva99 opened #100 "How to display Quill as readOnly in some places"
I know that I can edit the settings, but how can I have the settings without readOnly so that I can edit the text in some templates and in other templates I can only read the values in the editor?
Can I do that on the templates?

[2022-10-26 09:42] #100 closed

[2022-10-27 10:21] pedromsilva99 opened #101 "How can I set the maximum number of characters than can be typed into the Quill?"
Title